<div class="task-container">
  <div class="modal-header " style="display: flex; justify-content: center; align-items: center;">
    <h1>My To Do List</h1>
  </div>
  <div class="tasks-container">
    <!-- Header Section -->
  <div class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <div style="width: 200px;">
        <!-- Date dropdown to select tasks due on a specific date -->
        <label for="taskDate">Select Date:</label>
        <input type="date" id="taskDate" [(ngModel)]="selectedDate" (change)="filterTasksByDate()" />
      </div>
    </div>
  </div>

  <!-- High Priority Tasks -->
  <div class="task-section">
    <h5 class="task-header">High priority</h5>
    <div *ngFor="let task of filteredTasks">
      <div *ngIf="task.priority === 'HIGH'">
        <div class="task">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="mr-2" [checked]="task.status === 'COMPLETED'" (change)="toggleTaskStatus(task)">
            <span>{{ task.title }}</span>
          </div>
          <span class="task-status mr-3">{{ task.status }}</span>
          <div class="d-flex align-items-center">
            <button class="task-edit mr-2 task-actions" (click)="call(task)" data-toggle="modal" data-target="#editTaskModal">edit</button>
            <button class="task-delete task-actions" (click)="deleteTask(task)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Medium Priority Tasks -->
  <div class="task-section">
    <h5 class="task-header">Medium priority</h5>
    <div *ngFor="let task of filteredTasks">
      <div *ngIf="task.priority === 'MEDIUM'">
        <div class="task">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="mr-2" [checked]="task.status === 'COMPLETED'" (change)="toggleTaskStatus(task)">
            <span>{{ task.title }}</span>
          </div>
          <span class="task-status mr-3">{{ task.status }}</span>
          <div class="d-flex align-items-center">
            <button class="task-edit mr-2" (click)="call(task)" data-toggle="modal" data-target="#editTaskModal">edit</button>
            <button class="task-delete" (click)="deleteTask(task)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Low Priority Tasks -->
  <div class="task-section">
    <h5 class="task-header">Low priority</h5>
    <div *ngFor="let task of filteredTasks">
      <div *ngIf="task.priority === 'LOW'">
        <div class="task">
          <div class="d-flex align-items-center">
            <input type="checkbox" class="mr-2" [checked]="task.status === 'COMPLETED'" (change)="toggleTaskStatus(task)">
            <span>{{ task.title }}</span>
          </div>
          <span class="task-status mr-3">{{ task.status }}</span>
          <div class="d-flex align-items-center">
            <button class="task-edit mr-2" (click)="call(task)" data-toggle="modal" data-target="#editTaskModal">edit</button>
            <button class="task-delete" (click)="deleteTask(task)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Task Button -->
  <div class="text-center">
    <button class="btn btn-add-task" data-toggle="modal" data-target="#addTaskModal">Add Task +</button>
  </div>
  </div>
  
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
      </div>
      <div class="modal-body">
        <!-- Task Creation Form -->
        <form (ngSubmit)="addTask()">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="taskObj.title" name="title" placeholder="Task title..." required>
          </div>
          
          <div class="form-group row">
            <div class="col-md-6">
              <label for="priority">Priority</label>
              <select id="priority" [(ngModel)]="taskObj.priority" name="priority" class="form-control">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
              </select>
            </div>
            
            <div class="col-md-6">
              <label for="status">Status</label>
              <select id="status" [(ngModel)]="taskObj.status" name="status" class="form-control">
                <option value="PENDING">Pending</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>
              </select>
            </div>
          </div>

          <!-- Due Date and Time Inputs -->
          <div class="form-group row">
            <div class="col-md-6">
              <label for="dueDate">Due Date</label>
              <input type="date" id="dueDate" [(ngModel)]="taskDueDate" name="dueDate" class="form-control" required />
            </div>

            <div class="col-md-6">
              <label for="dueTime">Due Time</label>
              <input type="time" id="dueTime" [(ngModel)]="taskDueTime" name="dueTime" class="form-control" required />
            </div>          
          </div>
        
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="taskObj.description" name="description" placeholder="Add Description ..." rows="3" required></textarea>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-add-task">Save Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Task Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
      </div>
      <div class="modal-body">
        <!-- Task Editing Form -->
        <form (ngSubmit)="editTask()">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="taskObj.title" name="title" placeholder="Task title..." required>
          </div>
          
          <div class="form-group row">
            <div class="col-md-6">
              <label for="priority">Priority</label>
              <select id="priority" [(ngModel)]="taskObj.priority" name="priority" class="form-control">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
              </select>
            </div>
            
            <div class="col-md-6">
              <label for="status">Status</label>
              <select id="status" [(ngModel)]="taskObj.status" name="status" class="form-control">
                <option value="PENDING">Pending</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>
              </select>
            </div>
          </div>

          <!-- Due Date and Time Inputs -->
          <div class="form-group row">
            <div class="col-md-6">
              <label for="dueDate">Due Date</label>
              <input type="date" id="dueDate" [(ngModel)]="taskDueDate" name="dueDate" class="form-control" required />
            </div>

            <div class="col-md-6">
              <label for="dueTime">Due Time</label>
              <input type="time" id="dueTime" [(ngModel)]="taskDueTime" name="dueTime" class="form-control" required />
            </div>          
          </div>
        
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="taskObj.description" name="description" placeholder="Add Description ..." rows="3" required></textarea>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
